# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# For no-littering persistent data files
/var/

# Management by package.el
/elpa/

# Emacs custom files
/etc/custom.el

# ignore emacs native comp files
/eln-cache/

# ignore straight dir
/straight/

# asd
# anything-sync-daemon
.flagged

tree-sitter/
