[submodule "site-lisp/english-teacher"]
	path = site-lisp/english-teacher
	url = https://github.com/loyalpartner/english-teacher.el.git
[submodule "site-lisp/persp-mode-projectile-bridge"]
	path = site-lisp/persp-mode-projectile-bridge
	url = https://github.com/Bad-ptr/persp-mode-projectile-bridge.el.git
